* {
    box-sizing: border-box;
}

:root {
    --background-color: #FFFAF1;
    --main-color-brown: #432817;
    --sub-color-ivory: #FFF6E3;
    --sub-color-red: #6E1D1A;
    --banner-text: #FCEFB8;
    --point-color: #C1BC6E;

}

body {
    background-color: var(--background-color);
    font-family: 'Pretendard';
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}


button {
    border: 0;
    background: none;
    font: inherit;
    cursor: pointer;
}


a {
    text-decoration: none;
}


/* 공통 css */

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 6.25rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

/* header section */

.header {
    position: fixed;
    z-index: 1001;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 1.25rem 5rem;
    background-color: var(--background-color);

}

.header-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    font-family: 'IBM Plex Sans';
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--sub-color-red);
}


.ctg {
    display: flex;
    gap: 4rem;

}

.ctg a {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--main-color-brown);
    text-decoration: none;
}

.ctg a:hover {
    color: var(--background-color);
    transition-duration: 0.4s;
}

/* hamburger */

.menu-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1002;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 44px;
    height: 44px;

    padding: 0;
    border: 0;
    background: transparent;
}

.menu-btn span {
    display: block;
    width: 28px;
    height: 2px;
    background: var(--main-color-brown);
    transition: 0.3s;
}

.menu-btn.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.overlay {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 998;

}

.overlay.active {
    opacity: 1;
    visibility: visible;

}

/*Mobile Menu*/

.mobile-menu {
    position: fixed;
    right: -100%;
    width: 280px;
    height: 100vh;
    padding-top: 100px;
    background: var(--background-color);
    transition: .35s;
    z-index: 999;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
}

.mobile-menu a {
    display: block;
    padding: 18px 40px;
    font-size: 18px;
    font-weight: 600;
}


/*Overlay*/

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}



/* banner-section */
.banner-sec {
    width: 100%;
    height: 866px;

    max-width: 1920px;
    margin: 0 auto;


    position: relative;
    background: url(../images/banner-img.png) no-repeat center / cover;
}


.banner-title {
    font-size: 3.75rem;
    color: #FCEFB8;
    font-weight: 700;
}

.banner-subtitle {
    font-size: 2.5rem;
    color: #FCEFB8;
    padding-top: 2.5rem;
    font-weight: 600;
}

.banner-text {
    font-size: 1.5rem;
    color: #FCEFB8;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.25;
}

.banner-conts button {
    width: 14.0625rem;
    height: 3.625rem;
    background-color: var(--banner-text);
    color: #EB844A;
    border-radius: 3.125rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.banner-conts button:hover {
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
    transition-duration: 0.4s;
}

.banner-conts {
    width: 100%;
    max-width: 1920px;
    text-align: left;
    padding: 16.875rem 6.25rem;
}

.banner-shape {
    width: 100%;
    /* position: absolute; */
    display: block;
}



/* intro section */


.intro-conts {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* padding: 6.25rem 0; */
}

.intro-title {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--main-color-brown);
    padding-bottom: 6.25rem;
}

.intro-subtitle {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--main-color-brown);
    padding-top: 6.25rem;
}

.intro-conts p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--main-color-brown);
    padding-top: 1.25rem;

}

.intro-img {
    width: 345px;
    height: 345px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0s;

    position: relative;
}


/* 괄호 공통 */
.intro-bracket {
    display: block;
    width: 86px;
    height: auto;
    flex-shrink: 0;

    transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

/* 처음에는 왼쪽 괄호가 가운데로 이동해 있음 */
.intro-bracket-left {
    transform: translateX(10rem);
}

/* 처음에는 오른쪽 괄호가 가운데로 이동해 있음 */
.intro-bracket-right {
    transform: translateX(-10rem);
}


.intro-scone {
    display: block;
    width: 21.875rem;
    height: auto;

    opacity: 0;
    clip-path: inset(0 50% 0 50%);
    transform: scale(0.8);

    transition:
        opacity 0.9s ease 0.2s,
        transform 0.9s cubic-bezier(0.22, 1, 0.36, 1) 0.2s,
        clip-path 0.9s cubic-bezier(0.22, 1, 0.36, 1) 0.2s;
}



.intro-img.active .intro-bracket-left {
    transform: translateX(0);
}


.intro-img.active .intro-bracket-right {
    transform: translateX(0);
}


.intro-img.active .intro-scone {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transform: scale(1);
}

/* paipoint section */

.painpoint-sec {
    width: 100%;
    background: var(--sub-color-ivory);
}

.pain-point {
    width: 100%;
    background: var(--sub-color-ivory);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
}

.pain-point-conts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2;
    color: var(--sub-color-red);
}

.pain-point-item {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pain-point-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 6.1875rem;
    height: 0.125rem;
    background-color: var(--sub-color-red);
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.solution-conts {
    color: var(--main-color-brown);
    text-align: center;
}

.solution-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.highlight {
    background: linear-gradient(to top, #C1BC6E 55%, transparent 55%);
    padding: 0 0.25rem;
}


.solution-text {
    font-size: 1.5rem;
    padding-top: 2.5rem;
    line-height: 1.25;
}

.recommend-conts {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    gap: 9.125rem
}

.recom-img p {
    padding-top: 2.25rem;
}

/*.recom-img:hover {
    transform: scale(1.1);
    transition: transform 0.7s ease-in-out

}*/


/* ingredients section */

.ingre-sec {
    width: 100%;
    background-color: var(--main-color-brown);
}

.ingre-conts {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.ingre-title {
    color: var(--background-color);
}

.ingre-desc {
    font-size: 1.5rem;
    color: var(--background-color);
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.ingre-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.ingre-item {
    width: calc((100% - 3rem) / 3);

    position: relative;
    overflow: hidden;
    border-radius: 1.875rem;
    aspect-ratio: 1.25 / 1;
    cursor: pointer;
}

.ingre-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

.ingre-item::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.45);

    opacity: 0;
    transition: 0.3s;
}

/* hover 글씨 */
.ingre-text {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--background-color);
    text-align: center;

    opacity: 0;
    transition: 0.3s;
}

.ingre-text p {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.ingre-text h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

/* 마우스 올렸을 때 */
.ingre-item:hover::before {
    opacity: 1;
}

.ingre-item:hover .ingre-text {
    opacity: 1;
}

/* checkpoint secttion */

.check-sec {
    overflow: hidden;
}

.check-title {
    color: var(--main-color-brown);
    padding-bottom: 5rem;

}


.check-box {
    display: flex;
    gap: 1.5rem;
    transform: translateX(calc((100% - 759px) / 2 - (759px + 1.5rem)));
}

.check-card {
    flex: 0 0 759px;
    width: 759px;
    height: 375px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #432817;
    gap: 3.125rem;

}

.check-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--main-color-brown);
}

.check-card-text h2 {
    font-size: 2rem;
    font-weight: 500;
}

.check-card-text p {
    font-size: 1.1rem;
    line-height: 1.2;
    letter-spacing: 1.2;
}

.check-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    color: var(--sub-color-red);
}

.check-tag p {
    padding: 0.625rem;
    gap: 0.75rem;
    border: 1px solid var(--sub-color-red);
    border-radius: 100px;
}

.check-conts .swiper {
    width: 100%;
    height: 100%;
}

.check-conts .swiper-slide {
    width: 80%;
}

.check-conts .swiper-slide:nth-child(2n) {
    width: 60%;
}

.check-conts .swiper-slide:nth-child(3n) {
    width: 40%;
}


.check-conts .swiper-pagination-bullet-active {
    background: var(--main-color-brown);
}

.checkSwiper {
    padding-bottom: 3.75rem;
}

.checkSwiper .swiper-pagination {
    bottom: 10px !important;
}



/* howto-sec */
.howto-sec {
    background-color: var(--sub-color-ivory);
}

.howto-conts {
    padding: 6.25rem 0;
}

.howto-title {
    padding-bottom: 5rem;
    color: var(--main-color-brown);
}

.howto-box {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.howto {
    position: relative;
    flex: 1 1 0;
    min-width: 0;
}


.howto img {
    padding-bottom: 3.75rem;
}

.howto img:hover {
    transition: transform 0.3s;
    transform: translateY(-20px);
}

.howto-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color-brown);
    padding-bottom: 0.75rem;
}

.howto-text p {
    font-size: 1.25rem;
    color: var(--main-color-brown);
    line-height: 1.25;
}

.howto+.howto {
    border-left: 1px dashed var(--main-color-brown);
}

.howto-ice {
    padding-right: 3rem;
}

.howto-airfrier {
    padding: 0 3rem;
}

.howto-drinks {
    padding-left: 3rem;
}


/* menu section */

.flavor-sec {
    width: 100%;
    overflow: hidden;
    background-color: var(--main-color-brown);
}

.flavor-conts {
    width: 100%;
    max-width: 1920px;

    margin: 0;
    padding: 6.25rem 0rem 6.25rem 15rem;
}

.flavor-title {
    padding-bottom: 5rem;
    text-align: left;
    color: var(--background-color);
}

.flavor-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 400px;
    gap: 8rem;
}

.flavor-tab {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
}

.flavor-tab button {
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--background-color);
    display: flex;
    white-space: nowrap;
    word-break: keep-all;
}

.flavor-window {
    overflow: visible;
    display: flex;
    gap: 14rem;
}

.product-track {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 13.75rem;
}


.flavor-scone-img {
    width: 360px;
    height: 360px;
}


.product-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 고정된 원 */
.product-img::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;

    width: 420px;
    height: 420px;

    border-radius: 50%;
    background-color: var(--background-color);

    transform: translate(-50%, -50%);
}


/* 이것만 움직임 */
.flavor-scone-img {
    position: relative;
    left: 0;
    z-index: 2;

    width: 300px;
    height: 300px;

    object-fit: contain;
}



.product-img img:first-child {
    position: relative;
    z-index: 2;
}

.other-scone {
    opacity: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 2.5rem;
}

.other-scone img {
    width: 260px;
    height: auto;
    opacity: 50%;
}


.product-text {
    position: relative;
    z-index: 2;
    color: var(--main-color-brown);
    text-align: center;
}

.product-text h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.625rem;
}

.product-text p {
    font-size: 1.125rem;
}




/* review section */

.review-conts {
    width: 100%;
    max-width: none;

    margin: 0;
    padding: 6.25rem 0;

}

.review-title {
    color: var(--main-color-brown);
    padding-bottom: 5rem;
}

.review-card {
    width: 589px;
    min-height: 314px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
    padding: 1.875rem;
    border: 1px solid var(--sub-color-red);
    border-radius: 1.875rem;
}


.review-card img {
    display: block;
    flex-shrink: 0;

    width: 155px;
    height: 207px;

    object-fit: cover;

}

.review-text {
    font-size: 1rem;
    text-align: left;
    line-height: 1.4;
}


.review-score {
    display: flex;
}


.review-score span {
    color: var(--sub-color-red);
}

.review-info {
    font-size: 0.875rem;
    color: #939393;
}

.review-score-box {
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
}

.review-sec {
    margin: 0 auto;
    padding: 0;
}

.reviewSwiper .swiper-wrapper {
    transition-timing-function: linear !important;
}


/* buy section */
.buy-sec .container {
    padding: 0;
}

.buy-sec {
    width: 100%;
    height: 780px;
    max-width: 1920px;
    margin: 0 auto;

    background: url(../images/buy-img.png) no-repeat center / cover;
}

.buy-wrap {
    padding: 18.5625rem 15rem;
}

.buy-wrap h2 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--background-color);
}

.buy-wrap button {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color-brown);
    padding: 1.25rem 2.5rem;
    margin-top: 3.125rem;
    background-color: var(--background-color);
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;

}

.buy-wrap button:hover {
    background-color: transparent;
    color: var(--background-color);
    border: 2px solid var(--background-color);
    transition-duration: 0.4s;
    backdrop-filter: blur(20px);
}


/* footer */
.footer {
    width: 100%;
    height: 356px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--sub-color-red);
    color: var(--background-color);
}

.footer-logo {
    font-family: 'IBM Plex Sans';
    font-weight: 900;
    font-size: 2.5rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 7.5rem;
    gap: 1.625rem;
}

.info-list {
    display: flex;
    justify-content: space-between;

}

.info-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.info-text-wrap ul {
    display: flex;
    gap: 0.625rem;
}

.info-text-wrap p {
    color: var(--background-color);
    padding-top: 1.25rem;
}

.info-contact-text li {
    font-weight: 400;
    padding-bottom: 0.625rem;
}

.business-info {
    text-decoration: none;
    color: var(--background-color);
    font-weight: 700;
}








@media(max-width: 1023px) {
    a {
        color: var(--main-color-brown);
    }

    .container {
        padding: 3.75rem;
    }

    .header {
        padding: 1.625rem;
    }

    .menu-btn {
        display: flex;
    }

    .ctg-var {
        display: none;
    }

    /* banner section */
    .banner-sec {
        background: url(../images/banner-img-pad.png) no-repeat center / cover;
        height: 45rem;
    }

    .banner-shape {
        background: url(../images/banner-shape-pad.png) no-repeat center / cover;
    }

    .banner-conts {
        width: 100%;
        max-width: 1023px;
        padding: 15.75rem 3.75rem;

    }

    .banner-title {
        font-size: 2.625rem;
    }

    .banner-subtitle {
        font-size: 1.75rem;
        padding-top: 1.25rem;

    }

    .banner-text {
        font-size: 1.125rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        line-height: 1.25;
    }

    .banner-conts button {
        font-size: 0.875rem;
        width: 9.25rem;
        height: 2.5rem;
        border-radius: 3.125rem;
    }

    /* intro section */

    .intro-title {
        font-size: 2.625rem;
        padding-bottom: 5rem;
    }

    .intro-subtitle {
        font-size: 2.625rem;
        padding-top: 5rem;
    }

    .intro-conts p {
        font-size: 1.75rem;
        letter-spacing: 1.5;
    }

    .intro-scone {
        width: 260px;
        display: flex;
        margin: 0 auto;
    }

    /* 양쪽 괄호 공통 */

    .intro-bracket {
        width: 4.375rem;
        height: 16.375rem;
    }

    /* painpoint section */

    .pain-point {
        gap: 2.5rem;
    }


    .pain-point-item {
        gap: 0.75rem;
    }

    .pain-point-item:not(:last-child)::after {
        margin-bottom: 1.375rem;
        margin-top: 1.375rem;
    }

    .pain-point-item p {
        font-size: 1.75rem;
    }

    .solution-title {
        font-size: 1.875rem;
    }

    .solution-text {
        font-size: 1.125rem;
    }

    .recommend-conts {
        gap: 3.375rem;
    }

    .recom-img img {
        width: 11.25rem;
        height: 11.25rem;
    }

    .recom-img p {
        font-size: 1.125rem;
        padding-top: 1.75rem;
    }

    /* ingredients section */

    .ingre-sec {
        padding: 0rem;
    }

    .ingre-title {
        font-size: 1.875rem;
    }

    .ingre-desc {
        font-size: 1.125rem;
    }

    .ingre-text p {
        font-size: 1.125rem;
    }

    .ingre-text h3 {
        font-size: 1.375rem;
    }

    .ingre-wrap {
        gap: 1.125rem;
    }

    .ingre-wrap .ingre-item {
        width: calc((100% - 1.125rem) / 2);
    }

    /* checkpoint section */

    .check-sec {
        padding: 0rem;
    }


    .check-title {
        font-size: 1.875rem;
        padding-bottom: 3.125rem;

    }

    .check-card-text h2 {
        font-size: 1.25rem;
    }

    .check-card-text p {
        font-size: 1.125rem;
    }

    .check-tag {
        font-size: 1rem;
    }

    .check-tag p {
        padding: 0.375rem 0.5rem;
        gap: 0.625rem;
    }

    .check-card {
        flex: 0 0 554px;
        width: 554px;
        height: 244px;
        gap: 1.5rem;
    }

    .check-card img {
        width: 150px;
        height: 144px;
    }

    /* howto section */

    .howto-title {
        padding-bottom: 3.125rem;
        font-size: 1.875rem;
    }

    .howto-text {
        text-align: left;
    }


    .howto-text h2 {
        font-size: 1.25rem;
    }

    .howto-text p {
        font-size: 1.125rem;
    }

    .howto-box {
        width: 100%;
        max-width: 648px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 0;
    }

    .howto img {
        width: 120px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .howto {
        position: relative;
        width: 100%;
        justify-content: space-between;
        gap: 2.5rem;

        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        column-gap: 2.1875rem;

        padding: 1.875rem 0.625rem;
        text-align: left;

    }

    .howto+.howto {
        border-left: none;
    }

    .howto:not(:last-child) {
        border-bottom: 1px dashed var(--main-color-brown);
    }


    /* menu section */

    .flavor-conts {
        margin: 0;
        padding: 3.75rem 0 3.75rem 3.125rem;
    }

    .flavor-title {
        font-size: 1.875rem;
        padding-bottom: 3.125rem;
    }

    .flavor-tab button {
        font-size: 1.125rem;
        white-space: nowrap;
        word-break: keep-all;
    }

    .product-track {
        gap: 4.5rem;
    }

    .flavor-scone-img {
        width: 200px;
        height: 200px;
    }

    .product-text h3 {
        font-size: 1.125rem;
    }

    .product-text p {
        font-size: 1rem;
    }

    .other-scone img {
        width: 180px;
        height: 180px;
    }

    .other-scone {
        gap: 0;
    }

    .flavor-wrap {
        gap: 4rem;
    }

    .product-img::before {
        width: 300px;
        height: 300px;
        top: 55%;
    }


    /* review section */

    .review-title {
        font-size: 1.875rem;
    }

    .review-wrap {
        gap: 1.25rem;
    }

    .review-card {
        width: 460px;
        height: 236px;

        min-height: 0;

        margin: 0;
        padding: 1.25rem;

        gap: 2rem;
        padding: 1.875rem 1.25rem;
    }

    .review-text p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;

        overflow: hidden;
    }

    .review-card img {
        display: block;
        flex-shrink: 0;

        width: 130px;
        height: 172px;

        object-fit: cover;

    }

    .review-score-box {
        display: flex;
        flex-direction: column;
    }


    /* buy section */
    .buy-sec .container {
        padding: 0;
    }

    .buy-sec {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .buy-wrap {
        padding: 11.5625rem 5.125rem;

    }

    .buy-wrap h2 {
        font-size: 2.625rem;
    }

    .buy-wrap button {
        font-size: 1.125rem;
        padding: 1rem 1.5625rem;
        margin-top: 1.875rem;
    }

    /* footer */

    .footer {
        width: 100%;
        height: 414px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3.75rem 3rem;
        gap: 1rem;
    }

    .info-list {
        flex-direction: column;
        gap: 1rem;
    }

    .info-text-wrap {
        font-size: 0.875rem;
    }

    .info-text-wrap ul {
        gap: 0.625rem;
    }

    .info-text-wrap p {
        padding-top: 0.625rem;
    }

    .info-contact-text li {
        font-size: 0.875rem;
        padding-bottom: 0.625rem;

    }

    .copyright {
        font-size: 0.875rem;
    }


}


@media(max-width: 767px) {

    .container {
        padding: 2.5rem 1.25rem;
    }

    .menu-btn {
        display: flex;

        width: 38px;
        height: 38px;
    }


    .header {
        width: 100%;
        max-width: 767px;
        margin: 0 auto;
        padding: 1.625rem;
    }


    .header-sec .logo {
        font-size: 1.75rem;
    }


    .ctg-var {
        display: none;
    }

    /* banner section */
    .banner-sec {
        background: url(../images/banner-img-mo.png) no-repeat center / cover;
        height: 30.625rem;
    }

    .banner-shape {
        background: url(../images/banner-shape-mo.png) no-repeat center / cover;
    }

    .banner-conts {
        width: 100%;
        max-width: 767px;
        padding: 10.375rem 3.75rem;

    }

    .banner-title {
        font-size: 1.875rem;
    }

    .banner-subtitle {
        font-size: 1.25rem;
        padding-top: 1rem;

    }

    .banner-text {
        font-size: 1rem;
        padding-top: 0.625rem;
        padding-bottom: 1.25rem;
        line-height: 1.25;
    }

    .banner-conts button {
        font-size: 0.625rem;
        width: 5.9375rem;
        height: 1.75rem;
    }

    /* intro section */

    .intro-title {
        font-size: 1.875rem;
    }

    .intro-subtitle {
        font-size: 1.875rem;
    }

    .intro-conts p {
        font-size: 1.25rem;
        letter-spacing: 1.5;
    }

    .intro-scone {
        width: 260px;
        height: 260px;
        display: flex;
        margin: 0 auto;
    }

    /* 양쪽 괄호 공통 */

    .intro-bracket {
        width: 70px;
        height: 262px;
    }

    .intro-img {}


    /* painpoint section */

    .pain-point {
        gap: 2.5rem;
    }


    .pain-point-item {
        gap: 0.625rem;
    }

    .pain-point-item:not(:last-child)::after {
        margin: 1.25rem;
    }

    .pain-point-item p {
        font-size: 1.25rem;
    }

    .quot {
        width: 1.125rem;
    }

    .solution-title {
        font-size: 1.625rem;
    }

    .solution-text {
        font-size: 1rem;
    }


    .recommend-conts {
        gap: 3.375rem;
    }

    .recom-img img {
        width: 8.125rem;
        height: 8.125rem;
    }

    .recom-img p {
        font-size: 0.875rem;
        padding-top: 1rem;
    }

    /* ingredients section */


    .ingre-title {
        font-size: 1.625rem;
    }

    .ingre-desc {
        font-size: 1rem;
        padding-bottom: 2.5rem;
    }

    .ingre-text p {
        font-size: 0.75rem;
    }

    .ingre-text h3 {
        font-size: 0.875rem;
    }

    .ingre-wrap {
        gap: 0.75rem;
    }

    .ingre-wrap .ingre-item {
        width: calc((100% - 1.125rem) / 2);
    }



    /* checkpoint section */


    .check-title {
        font-size: 1.625rem;
        padding-bottom: 2.5rem;

    }

    .check-card-text {
        gap: 0.875rem;
    }

    .check-card-text h2 {
        font-size: 1.125rem;
    }

    .check-card-text p {
        font-size: 1rem;
    }

    .check-tag {
        gap: 0.625rem;
    }

    .check-tag p {
        font-size: 0.875rem;
    }

    .check-card {
        flex: 0 0 440px;
        width: 440px;
        height: 176px;
        gap: auto;
    }

    .check-card img {
        width: 100px;
        height: 100px;
    }

    /* howto section */

    .howto-title {
        font-size: 1.625 rem;
        padding-bottom: 2.5rem;
    }

    .howto-text h2 {
        font-size: 1.125rem;
    }

    .howto-text p {
        font-size: 1rem;
    }

    .howto-box {
        max-width: 428px;
    }

    .howto img {
        width: 100px;
    }

    .howto {
        gap: 1.25rem;

        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        column-gap: 1.1875rem;

        padding: 1.25rem 0.625rem;
        text-align: left;

    }

    .howto+.howto {
        border-left: none;
    }

    .howto:not(:last-child) {
        border-bottom: 1px dashed var(--main-color-brown);
    }


    /* menu section  */

    .flavor-conts {
        margin: 0;
        padding: 2.5rem 4rem;
    }

    .flavor-title {
        font-size: 1.625rem;
        padding-bottom: 1.625rem;
    }

    .flavor-tab {
        gap: 1.25rem;
    }

    .flavor-tab button {
        font-size: 0.875rem;
        white-space: nowrap;
        word-break: keep-all;
    }

    .product-track {
        gap: 2.5rem;
    }

    .flavor-scone-img {
        width: 170px;
        height: 170px;
    }

    .product-text h3 {
        font-size: 1rem;
    }

    .product-text p {
        font-size: 0.875rem;
    }

    .other-scone img {
        width: 160px;
        height: 160px;
    }

    .other-scone {
        gap: 0;
    }

    .flavor-wrap {
        gap: 3.8rem;
    }

    .product-img::before {
        width: 250px;
        height: 250px;
        top: 55%;
    }

    .fork-icon {
        width: 22px;
        height: 22px;
    }



    /* review section */

    .review-title {
        font-size: 1.75rem;
    }

    .review-wrap {
        gap: 0.75rem;
    }

    .review-card {
        width: 250px;
        height: 300px;

        flex-direction: column;

        padding: 1.875rem 1.25rem;
        gap: 0.625rem;

    }


    .review-text p {
        font-size: 0.875rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;
    }


    .review-card img {
        width: 190px;
        height: 120px;
        border-radius: 1rem;

    }

    .review-score-box {
        font-size: 0.75rem;
        padding-top: 0.625;
    }

    /* buy section */
    .buy-sec .container {
        padding: 0;
    }

    .buy-sec {
        width: 100%;
        height: 395px;
        position: relative;
    }

    .buy-wrap {
        padding: 8.75rem 1.5rem;

    }

    .buy-wrap h2 {
        font-size: 1.875rem;
    }

    .buy-wrap button {
        font-size: 1rem;
        padding: 1rem 1.5625rem;
        margin-top: 1.875rem;
    }

    /* footer */

    .footer {
        width: 100%;
        height: 366px;
    }

    .footer-info {
        padding: 2.5rem 2rem;
        gap: 1rem;
    }

    .info-list {
        flex-direction: column;
        gap: 1rem;
    }

    .info-text-wrap {
        font-size: 0.75rem;
    }

    .info-text-wrap ul {
        font-size: 0.75rem;
        gap: 0.625rem;
    }


    .info-contact-text li {
        font-size: 0.875rem;
        padding-bottom: 0.625rem;

    }

}

@media(max-width: 390px) {
    .intro-bracket {
        width: 50px;
        height: auto;
    }

    .intro-scone {
        width: 200px;
        height: auto;
        margin: 0;
    }


    .recom-img img {
        width: 5rem;
        height: 5rem;
    }

    .recommend-conts {
        gap: 2rem;
    }
}