* {
    box-sizing: border-box;
}

:root {
    --background-color: #FFFAF1;
    --main-color-brown: #432817;
    --sub-color-ivory: #FFF6E3;
    --sub-color-red: #6E1D1A;
    --banner-text: #FCEFB8;
    --point-color: #C1BC6E;

}

body {
    background-color: var(--background-color);
    font-family: 'Pretendard';
}

/* 공통 css */

.container {
    width: 100%;
    max-width: 1440px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 0 auto;
    text-align: center;
    /* padding: 6.25rem; */
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

/* header section */

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1.25rem;
}

.header-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'IBM Plex Sans';
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--sub-color-red);
}


.ctg {
    display: flex;
    gap: 5rem;

}

.ctg a {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--main-color-brown);
    text-decoration: none;
}


/* banner-section */
.banner-sec {
    width: 100%;
    height: 866px;
    position: relative;
    background: url(../images/banner-img.png) no-repeat center / cover;
}


.banner-title {
    font-size: 3.75rem;
    color: #FCEFB8;
    font-weight: 700;
}

.banner-subtitle {
    font-size: 2.5rem;
    color: #FCEFB8;
    padding-top: 2.5rem;
    font-weight: 600;
}

.banner-text {
    font-size: 1.5rem;
    color: #FCEFB8;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.25;
}

.banner-conts button {
    width: 14.0625rem;
    height: 3.625rem;
    background-color: var(--banner-text);
    color: #EB844A;
    border-radius: 3.125rem;
    border: none;
    font-size: 1.5rem;
}

.banner-conts {
    width: 100%;
    height: auto;
    text-align: left;
    padding: 16.875rem 0;
}

.banner-shape {
    width: 100%;
    /* position: absolute; */
    display: block;
}

/* intro section */

.intro-sec {
    padding: 6.25rem;
}

.intro-title {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--main-color-brown);
}

.intro-subtitle {
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--main-color-brown);
}

.intro-conts p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--main-color-brown);
    padding-top: 1.25rem;

}

.intro-conts img {
    padding: 6.25rem 0;
    display: block;
    margin: 0 auto;
}

.intro-conts {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* padding: 6.25rem 0; */
}

/* paipoint section */

.painpoint-sec {
    width: 100%;
    background: var(--sub-color-ivory);
}

.pain-point {
    width: 100%;
    background: var(--sub-color-ivory);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
    padding: 6.25rem;
}

.pain-point-conts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2;
    color: var(--sub-color-red);
}

.pain-point-item {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pain-point-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 6.1875rem;
    height: 0.125rem;
    background-color: var(--sub-color-red);
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.solution-conts {
    color: var(--main-color-brown);
    text-align: center;
}

.solution-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.highlight {
    background: linear-gradient(to top, #C1BC6E 55%, transparent 55%);
    padding: 0 0.25rem;
}


.solution-text {
    font-size: 1.5rem;
    padding-top: 2.5rem;
    line-height: 1.25;
}

.recommend-conts {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    gap: 9.125rem
}

.recom-img p {
    padding-top: 2.25rem;
}


/* ingredients section */

.ingre-sec {
    width: 100%;
    background-color: var(--main-color-brown);
    padding: 6.25rem;
}

.ingre-conts {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.ingre-title {
    color: var(--background-color);
}

.ingre-desc {
    font-size: 1.5rem;
    color: var(--background-color);
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.ingre-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.ingre-item {
    width: calc((100% - 3rem) / 3);

    position: relative;
    overflow: hidden;
    border-radius: 1.875rem;
    aspect-ratio: 1.25 / 1;
    cursor: pointer;
}

.ingre-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

.ingre-item::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.45);

    opacity: 0;
    transition: 0.3s;
}

/* hover 글씨 */
.ingre-text {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--background-color);
    text-align: center;

    opacity: 0;
    transition: 0.3s;
}

.ingre-text p {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.ingre-text h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

/* 마우스 올렸을 때 */
.ingre-item:hover::before {
    opacity: 1;
}

.ingre-item:hover .ingre-text {
    opacity: 1;
}

/* checkpoint secttion */

.check-sec {
    overflow: hidden;
    padding: 6.25rem;
}

.check-title {
    color: var(--main-color-brown);

}

.check-slider {
    position: relative;
    width: 100%;
}

.check-window {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.check-box {
    display: flex;
    gap: 1.5rem;
    transform: translateX(calc((100% - 759px) / 2 - (759px + 1.5rem)));
}

.check-card {
    flex: 0 0 759px;
    width: 759px;
    height: 375px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #432817;
    gap: 3.125rem;
}

.check-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.check-card-text h2 {
    font-size: 2rem;
    font-weight: 400;
}

.check-card-text p {
    font-size: 1.25rem;
    line-height: 1.2;
}

.check-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.check-tag p {
    padding: 0.625rem;
    gap: 0.75rem;
    border: 1px solid var(--main-color-brown);
    border-radius: 100px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}










@media(max-width: 1023px) {

    .container {
        padding: 3.75rem;
    }

    /* banner section */
    .banner-sec {
        background: url(../images/banner-img-pad.png) no-repeat center / cover;
        height: 45rem;
    }

    .banner-shape {
        background: url(../images/banner-shape-pad.png) no-repeat center / cover;
    }

    .banner-conts {
        padding: 15.75rem 3.75rem;

    }

    .banner-title {
        font-size: 2.625rem;
    }

    .banner-subtitle {
        font-size: 1.75rem;
        padding-top: 1.25rem;

    }

    .banner-text {
        font-size: 1.125rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        line-height: 1.25;
    }

    .banner-conts button {
        font-size: 0.875rem;
        width: 9.25rem;
        height: 2.5rem;
        border-radius: 3.125rem;
    }

    /* intro section */

    .intro-title {
        font-size: 2.625rem;
    }

    .intro-subtitle {
        font-size: 2.625rem;
    }

    .intro-conts p {
        font-size: 1.75rem;
        letter-spacing: 1.5;
    }

    .intro-conts img {
        width: 372px;
        padding: 6.25rem 0;
        display: flex;
        margin: 0 auto;
    }

    /* painpoint section */

    .pain-point {
        gap: 2.5rem;
    }


    .pain-point-item {
        gap: 0.75rem;
    }

    .pain-point-item:not(:last-child)::after {
        margin-bottom: 1.375rem;
        margin-top: 1.375rem;
    }

    .pain-point-item p {
        font-size: 1.125rem;
    }

    .solution-title {
        font-size: 1.875rem;
    }

    .solution-text {
        font-size: 1.125rem;
    }

    .recommend-conts {
        gap: 3.375rem;
    }

    .recom-img img {
        width: 11.25rem;
        height: 11.25rem;
    }

    .recom-img p {
        font-size: 1.125rem;
        padding-top: 1.75rem;
    }

    /* ingredients section */

    .ingre-sec {
        padding: 0rem;
    }

    .ingre-title {
        font-size: 1.875rem;
    }

    .ingre-desc {
        font-size: 1.125rem;
    }

    .ingre-text p {
        font-size: 1.125rem;
    }

    .ingre-text h3 {
        font-size: 1.375rem;
    }

    .ingre-wrap {
        gap: 1.125rem;
    }

    .ingre-wrap .ingre-item {
        width: calc((100% - 1.125rem) / 2);
    }



}